<div class="modal-overlay" id="viewVehicleModal">
  <div class="custom-modal">
    <div class="modal-header">
      <div>
        <h2>Vehicle Details</h2>
        <p>View complete vehicle information.</p>
      </div>

      <button class="modal-close" id="closeViewVehicleModal">
        <i class="ph ph-x"></i>
      </button>
    </div>
    <div class="vehicle-profile">
      <img
        id="viewVehicleImage"
        src="../assets/images/vehicle-placeholder.png"
        alt="Vehicle"
      />

      <h3 id="viewVehicleName"></h3>

      <p id="viewVehicleSubtitle"></p>
      <span
        id="viewVehicleStatus"
        class="status-badge available">
    </span>
    </div>

    <div class="modal-body">
        <div class="detail-item">
          <label>Plate Number</label>
          <p id="viewPlateNumber"></p>
        </div>

        <div class="detail-item">
          <label>Vehicle Type</label>
          <p id="viewVehicleType"></p>
        </div>

        <div class="detail-item">
        <label>Driver</label>
        <p id="viewDriver"></p>
    </div>

        <div class="detail-item">
        <label>Fuel Type</label>
        <p id="viewFuelType"></p>
    </div>

        <div class="detail-item">
        <label>Fuel Level</label>
        <p id="viewFuelLevel"></p>
    </div>

        <div class="detail-item">
        <label>Mileage</label>
        <p id="viewMileage"></p>
    </div>

        <div class="detail-item">
        <label>Purchase Date</label>
        <p id="viewPurchaseDate"></p>
    </div>

        <div class="detail-item">
        <label>Insurance Expiry</label>
        <p id="viewInsuranceExpiry"></p>
    </div>
      </div>

      <div class="modal-footer">
        <button class="btn-outline" id="closeViewBtn">Close</button>

        <button class="btn-primary" id="editVehicleBtn">
          <i class="ph ph-pencil-simple"></i>
          Edit Vehicle
        </button>
      </div>
    </div>
  </div>
</div>
