<div class="modal-overlay" id="deleteVehicleModal">
  <div class="custom-modal delete-modal">
    <div class="delete-icon">
      <i class="ph-fill ph-warning-circle"></i>
    </div>

    <h2>Delete Vehicle</h2>

    <p>
      Are you sure you want to delete
      <strong>Ambulance 01</strong>?
    </p>

    <p class="delete-note">This action cannot be undone.</p>

    <div class="modal-footer">
      <button class="btn-outline" id="cancelDeleteVehicle">Cancel</button>

      <button class="btn-danger" id="confirmDeleteVehicle">
        <i class="ph ph-trash"></i>

        Delete Vehicle
      </button>
    </div>
  </div>
</div>
