.sidebar{
    position: fixed;
    left: 0;
    top: 0;

    width: var(--sidebar-width);
    height: 100vh;

    background: var(--color-sidebar);
    color: var(--color-white);

    display: flex;
    align-items: center;
    justify-content: center;

    font-weight: 600;

    z-index: var(--z-sidebar);
}